* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(103, 148, 176);
}

img {
    width: 100px;
}

@keyframes gameOver-fadeIn {
    0%   {}

    50% {}

    100% {}
  }

@keyframes fadeIt-n-scaleIt {
    0%   { background-color: lightgoldenrodyellow; 
           transform: rotateY(180deg) scale(1.0); }

    50% { transform: rotateY(180deg) scale(1.1); }

    100% { background-color: #c2ff97; 
           transform: rotateY(180deg) scale(1.0); }
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgb(77,74,130);
    background: linear-gradient(153deg, rgba(77,74,130,1) 0%, rgba(0,212,255,1) 100%);
}

.timer {
    z-index: 2;
    margin: 0 30px 0 30px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 5px;
    border-radius: 15px;
    background-color: aliceblue;
    color: #000;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

.nav-button {
    fill-opacity: 60%;
    padding-right: 4px;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transform: translateZ(15px);
    background-color: azure;
}

.menu-button {
    fill-opacity: 60%;
    padding-right: 4px;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    transform: translateZ(15px);
    background-color: azure;
    padding-left: 4px;
    padding-top: 12px;
}

.main-menu-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 148, 176);
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-wrapper {
    font-family: sans-serif;
    font-size: 40px;
    color: azure;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    border-radius: 50px;
    background: rgb(77,74,130);
    background: linear-gradient(153deg, rgba(77,74,130,1) 0%, rgba(0,212,255,1) 100%);
}

.main-wrapper > button {
    height: 60px;
    border-radius: 30px;

    font-family: sans-serif;
    font-size: 25px;
    margin: 0 40px 0;
}

.main-wrapper > button:hover {
    transition: .3s;
    background-color: rgb(254, 206, 214);
}

.main-wrapper > button:active {
    background-color: rgb(255, 159, 175);
}

.card-game {
    justify-content: center;
    align-content: flex-start;
    margin: auto;
    width: 640px;
    min-height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .2s;
}

.card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.card.isFlipped {
    transform: rotateY(180deg);
}

.front-svg {
    fill-opacity: 15%;
}

.front-face, 
.back-face {
    border-radius: 10px;
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
}

.back-face {
    background-color: lightgoldenrodyellow;
    transform: rotateY(180deg);
}

.game-over-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-over-text {
    font-family: sans-serif;
    color: azure;
    font-size: 40px;
    margin-bottom: 15px;
}

.restart-button {
    font-family: sans-serif;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.restart-button:hover {
    outline: none;
    background-color: aquamarine;
}

.flipAnim > * {
    border-radius: 10px;
    animation: fadeIt-n-scaleIt .25s ease-in; 
    background-color: #c2ff97;
}

.block {
    position: absolute;
    width: 100%;
    height: 100%;
}